<table border="1" width="1000px">
  <tr>
    <td width="33%"> Имя сервиса  </td>
    <td width="33%"> Описание </td>
    <td width="33%"> Версия </td>
  </tr>
  <% services.each do |s| %>
    <tr>
      <td width="33%"> <%= s['application_name'] %>
      <td width="33%"> <%= s['description'] %>
      <td width="33%"> <%= s['application_version'] %>
    </tr>  
  <% end %>
</table>

