<html>
  <head>
    <title> Container versions</title>
    <link rel="stylesheet" type="text/css" href="/css/application.css" />
  </head>
  <body>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>