<html>
  <head>
    <title> Container versions</title>
    <link rel="stylesheet" type="text/css" href="/css/application.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
  </head>
  <body>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>