table {
    margin: 10px auto;
    padding: 10px;
    border: 0;
}

tbody td{
    color: #6c6c6c;
    border: 0px;
    text-align: center;
}
tbody tr {
    border: 0px;
}
tbody tr:hover {
    background-color: #e9e9e9;
}

thead tr {
    border-bottom: 1px solid #c0c0c0;
    color: #3FAECA;
    font-weight: bold;
    text-align: center;
}

thead th {
    border: none;
}

thead > tr {
    background-color: white !important;
}

table {
    border-collapse: collapse;
    border-color: white;
}

tr > td {
    padding: 8px 0;
}

tr > th {
    padding: 16px 0;
}


tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.outdate-warning {
    background-color: white;
}
.outdate-warning span {
    color: #BF3139;
}

.title-column {
    text-align: left;
    padding-left: 10px;
}

.warning-row {
    background-color: #ffb8bf !important;
}

.warning-row > td {
    color: #4d4d4d !important;
}

.warning-row td {
    color: white;
}

.medods-versions {
    margin: auto;
    text-align: center;
}

.medods-versions a {
    color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    background-color: #3FAECA;
    border-radius: 4px;
}
.medods-versions a:hover {
    background-color: #475264;
}

.main-container {
    padding: 10px;
}

.material-icons.aprooved {
    color: #3FAECA;
    cursor: pointer;
}

.material-icons.unaprooved {
    color: #6c6c6c;
    cursor: pointer;
}

.material-icons.delete {
    color: #b52e24;
    cursor: pointer;
}

.header
{
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}

.headerSortDown:after {
    content: '\25BC';
    position: absolute;
}

.headerSortUp:after {
    content: '\25B2';
    position: absolute;
}
